.projects {
    height: 1000px;
    background-color:#272934;
    margin-top: -50px;
    position: relative;
}

.projects h1 {
    padding-left: 20%;
    display: block;
    padding-top: 100px;
    margin-bottom: 20px;
    z-index: 1;
    text-shadow: 0.5px 0 --text-dark-color;
    font-size: 70px;
}

.projects-element {
    position: relative;
    height: 275px
}
/* First line */
.projects-element h2 {
    display: inline;
    font-size: 35px;
    padding-left: 10%;
}

/* More info markers */
.projects-input {
    display: none;
}

.projects label {
    width: 40px;
    height: 50px;
    display: inline-block;
    background-color:rgba(8, 140, 255, 0);
    left:15px;
    position: relative;
    top: 15px;
}
.projects label:hover {
    cursor: pointer;
}
.projects label span:nth-child(1){
    position: absolute;
    background-color: white;
    transform: rotate(45deg);
    width: 20px;
    height: 8px;
    top: 17px;
    left: 7px;
    transition: 0.5s;
}
.projects label span:nth-child(2){
    
    position: absolute;
    background-color: white;
    transform: rotate(-45deg);
    top: 27px;
    left: 7px;
    width: 20px;
    height: 8px;
    transition: 0.5s;
}
.projects-input:checked + label span:nth-child(1) {
    transform: rotate(90deg);
    left: 0px;
    top: 22px;
    width: 20px;
}
.projects-input:checked + label span:nth-child(2) {
    transform: rotate(-90deg);
    left: 15px;
    top: 22px;
    width: 20px;
}
video {
    z-index: 1;
    position: absolute;
    right: 10%;
    top: -15px;
    display: none;
}
.projects-input:checked ~ video {
    display:block;
}
.projects-input:checked ~ .projects-image {
    display: none;
}
/* Following stuff */
.projects-element h3 {
    font-size: 20px;
    padding-left: 16%;
    margin-top: 0px;
    font-weight: normal;
}
.projects-element img {
    transition: 0.5s;
    border-radius: 10px;
}
.projects-image:hover img {
    opacity: 0.4;
}
.projects-image h3 {
    text-align: center;
    font-weight: normal;
    margin-left: -30px;
    font-size: 15px;
    position: absolute;
    top: 45%;
    opacity: 0;
}

.projects-image:hover h3 {
    opacity: 1;
}
.projects-image {
    position: absolute;
    right: 10%;
    top: 0px
}
