
/*
* Body style
*/
body {
    color:#ffffff;
      background: #626262;
}
/*
* Cover page
*/

/* Covers a single screen worth of space*/
.mainCover {
    position: absolute;
    width: 100vw;
    max-width: 100%;
    height: 100%; 
    background-color:#170a18;
    left: 0;
    top: 0;
    z-index: 2;
}
/* Title text */
.mainTitle {
    position: absolute;
    font-size: 10px;
    margin: 0; padding: -200px;
    left: 50%;
    margin-left: -350px;
    top: 35%;
}
/* Scroll indicator */
.mainScroll {
    position: absolute;
    font-size: 10px;
    width: 100vw;
    max-width: 100%;
    text-align: center;
    opacity: 0.5;
    bottom: 3%;
}
/* Links within title */
.mainTitle a {
    text-decoration: none;
    color:#ffffff;
}
.mainTitle a:hover {
    opacity: 0.7;
}

/* Main image */
.mainImage { 
    position: absolute;
    text-align: center;
    margin: 0;
    left: 60%;
    top: 30%;
}
.mainImage img {
    border-radius: 50%;
    width: 250px;
}

/* Top navigation bar */
.topnav {
    background-image: linear-gradient(#000000, rgba(255, 255, 0, 0));
    overflow: hidden;
    width: 100%;
    height: 100px
  }
.topnav a {
    float: left;
    color: #5d5d5d;
    
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    color: #ffffff;
}
/* Sticky text underneath the cover*/
.sticky {
    position: -webkit-sticky;
    position: sticky;
    /* To be below the cover */
    margin-left: 160px;
    height: 100vh;
    bottom: 0;
}
/* Div used to have main properly positioned */
.filler 
{
    height: 100vh;
}
/* Clickable icons */
.figure{
    display:inline-block;
    width:40px;
    height: 40px;
    border-radius: 20px;
    font-size: 25px;
    text-align: center;
    background-color: #474747;
    line-height: 1.7em;
    text-decoration: none;
}
.figure:hover {
    opacity: 0.7;
}
.figure img{
    position: relative;
   width: 20px;
    height: auto;
    top: -0px;
}


/* Side navigation bar */
.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #060119;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }

/*
*   Darkmode toggle
*/
.mainCover.dark-mode {
    background-color:#C4DFDF;
    color:#001b35;
}
.mainCover.dark-mode a {
    color:#001b35;
}
.topnav.dark-mode {
    background-image: linear-gradient(#F8F6F4, rgba(255, 255, 0, 0));
}
.topnav.dark-mode a {
    color:#677474;
}
.topnav.dark-mode a:hover {
    color:#000000;
}

/*
* Size checks
*/

/* On screens that are less than 500px high, change orientation*/
@media screen and (max-height: 500px) {
    .mainCover {
        height: 500px;
    }
    .filler {
        height: 500px;
    }
  }

  /* On screens that are less than 1000px wide, change orientation*/
  @media screen and (max-width: 800px) {
    .mainTitle {
        width: 300px;
        left: 10%;
        margin-left: 0px;
    }
    .mainImage {
        top: 35%;
    }
    .mainImage img {
        width: 200px;
    }
    
  }


  /* On screens that are less than 500px wide, make vertical*/
    @media screen and (max-width: 600px) {
    .mainTitle {
        white-space: nowrap;
        overflow: hidden;
        left: 0%;
        width: 100vw;
        max-width: 100%;
        top: 30%;
        margin-top: 150px;
        text-align: center;
        margin-left: 0px;
    }
    .mainTitle p {
        margin-left: 0px;
    }
    .mainImage {
        left: 0%;
        width: 100vw;
        max-width: 100%;
        top: 15%;
        text-align: center;
    }
    .mainImage img {
        width: 200px;
    }
    .topnav {
        position: fixed;
        z-index: 10;
    }
    .sidenav {
        display: none;
        width: 100%;
        height: auto;
      }
    .sidenav a {
        float: left;
        margin-top: -25px;
    }
      div.content {
        margin-left: 0;
    }
    .sticky {
        margin-left: 0;
    }
    
  }

/*
* Temporary slider code
*/
  /* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 17px;
    height: 17px;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .switch:hover {
    width: 30px;
  }
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: -6px;
    left: -2px;
    right: 2px;
    bottom: 6px;
    background-color: #5c3b3b;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .switch input:checked + .slider {
    background-color: #2196F3;
  }
  
  .switch input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  .switch:hover input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 17px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
