

body.dark-mode {
    background-color: #D7C0AE;
}
.projects {
  position:relative;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 1000px;
  margin-top: 0px;
}

/*
* IDEA: click on a box cause it to expand outwards and cover more of the screen
*/

#projects-education {
  display: none;
}

label[for = "projects-education"] {
  left: 30px;
  position:relative;
  display: block;
  font-size: 50px;
  width: 280px;
}

.projects-highlight-bar {
  position: absolute;
  top: 35px;
  left: -5px;
  width: 340px;
  background:#ffffff00;
  height: 25px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: -1;
}
label[for = "projects-education"]:hover .projects-highlight-bar{
  background:rgba(108, 0, 180, 0.302);
}
#projects-education:checked + label .projects-highlight-bar{
  background:rgba(108, 0, 180, 0.702);
}

.projects-sidebar {
  position: absolute;
    /* Firefox */
  width: -moz-calc(100% - 380px);
  /* WebKit */
  width: -webkit-calc(100% - 380px);
  /* Opera */
  width: -o-calc(100% - 380px);
  /* Standard */
  width: calc(100% - 380px);
  top: 150px;
  margin-left: 100%;
  -webkit-transition: margin-left 0.5s;
  transition: margin-left 0.5s;
  animation: none;
  height: 400px;
  background-color: rgb(56, 56, 155);
  border-radius: 15px;
}
.projects-sidebar-cross {
  display: block;
  height: 0px;
  width: 100%;
  margin-bottom: -20px;
}
.projects-sidebar-cross h2 {
  text-decoration: none;
  text-align: left;
  margin-left: 20px;
  margin-top: 10px;
  font-size: 40px;
}
.projects-sidebar-cross h3 {
  float:right;
  text-decoration: none;
  text-align: left;
  font-size: 20px;
  margin-top: -60px;
  margin-right: 30px;
}

.projects-sidebar a {
  position: relative;
  padding-top: -45px;
  padding-left: 5px;
  text-decoration: none;
  text-align: left;
  font-size: 20px;
  display: block;
  margin-left: 30px;
  margin-right: 40px;
}
#projects-education:checked ~ .projects-sidebar-education .projects-sidebar{
  margin-left: 400px;
}

#projects-experience {
  display: none;
}

label[for = "projects-experience"] {
  left: 30px;
  position:relative;
  display: block;
  font-size: 50px;
  width: 280px;
}


label[for = "projects-experience"]:hover .projects-highlight-bar{
  background:rgba(108, 0, 180, 0.302);
}
#projects-experience:checked + label .projects-highlight-bar{
  background:rgba(108, 0, 180, 0.702);
}
#projects-experience:checked ~ .projects-sidebar-experience .projects-sidebar{
  margin-left: 400px;
}


#projects-skills {
  display: none;
}

label[for = "projects-skills"] {
  left: 30px;
  position:relative;
  display: block;
  font-size: 50px;
  width: 280px;
}


label[for = "projects-skills"]:hover .projects-highlight-bar{
  background:rgba(108, 0, 180, 0.302);
}
#projects-skills:checked + label .projects-highlight-bar{
  background:rgba(108, 0, 180, 0.702);
}
#projects-skills:checked ~ .projects-sidebar-skills .projects-sidebar{
  margin-left: 400px;
}

/* On screens that are less than 925px wide, change orientation*/
@media screen and (max-width: 925px) {
  .projects-sidebar {
    position: relative;
      /* Firefox */
    width: 100%;
    top: 0px;
    margin-left: 0px;
    height: 0px;
    -webkit-transition: height 0.5s, color 0s;
    transition: height 0.5s, color 0s;
    background-color: rgba(56, 56, 155, 0);
    border-radius: 15px;
    z-index: -1;
    color:#d7c0ae00;
    animation-play-state: paused;
  }
  label[for = "projects-education"] {
    margin-bottom: -40px;
  }
  label[for = "projects-experience"] {
    margin-top: -40px;
    margin-bottom: -40px;
  }
  label[for = "projects-skills"] {
    margin-top: -40px;
    margin-bottom: -40px;
  }
  #projects-education:checked ~ .projects-sidebar-education .projects-sidebar{
    height: 300px;
    color:white;
    margin-left: 0px;
    background-color: rgb(56, 56, 155);
    -webkit-transition:height 0.5s, color 0.5s cubic-bezier(1,-0.6,1,.5);
    transition: height 0.5s, color 0.5s cubic-bezier(1,-0.6,1,.5);
  }
  #projects-experience:checked ~ .projects-sidebar-experience .projects-sidebar{
    height: 300px;
    color:white;
    margin-left: 0px;
    background-color: rgb(56, 56, 155);
    -webkit-transition:height 0.5s, color 0.5s cubic-bezier(1,-0.6,1,.5);
    transition: height 0.5s, color 0.5s cubic-bezier(1,-0.6,1,.5);
  }
  #projects-skills:checked ~ .projects-sidebar-skills .projects-sidebar{
    height: 300px;
    color:white;
    margin-left: 0px;
    background-color: rgb(56, 56, 155);
    -webkit-transition:height 0.5s, color 0.5s cubic-bezier(1,-0.6,1,.5);
    transition: height 0.5s, color 0.5s cubic-bezier(1,-0.6,1,.5);
  }
}