.underCover {
    position: absolute;
    margin-top: 100vh;
    margin-left: 0;
    left: 0;
    top: 0;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--background-color);
    transition: background-color 0.5s, color 0.5s;
    -webkit-transition: background-color 0.5s, color 0.5s;
    color: var(--text-color);
}

.underContent {
    margin-top: 0px;
    margin-bottom: 20px;
    min-height: 20vh;

    padding-bottom: 3%;

    display: flex;
    justify-content: center;
    text-align: left;
    width: 90%;
    border-radius: 10px;
    border: 1px solid var(--border-color);

    flex-direction: column;

    background: var(--background-color-under);
    transition: background-color 0.5s, color 0.5s;
    -webkit-transition: background-color 0.5s, color 0.5s;
    color: var(--text-color);
}

.underContent a {
    text-decoration: none;
}

.underContent section {
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 3vh;

    display: flex;
    flex-direction: row;
    flex-grow: 1;
    text-align: left;
}

@media screen and (max-width: 800px) {
    .underContent .columnable {
        flex-direction: column;
    }
}


.underContent .maxum {
    padding-left: 60px;
    padding-right: 60px;

    flex-grow: 5;

    text-align: center;
}

.underContent .maxum h1 {
    font-size: 30pt;
    margin-bottom: -10px;
}

.underContent .major {
    display: flex;
    flex-grow: 2;
    flex: 2;

    align-items: flex-start;
    flex-direction: column;
}

.underContent .majorRight {
    display: flex;
    flex-grow: 2;
    flex: 2;

    align-items: center;
    justify-content: center; 
    flex-direction: column;
}

.underContent .majorRight h {
    font-size: 30pt;
    margin-top: 0px;
    text-align: center;
    margin-bottom: 10px;
    width: 90%;
}


.underContent .majorRight h2 {
    font-size: 24pt;
    margin-top: 0px;
    text-align: center;
    margin-bottom: 10px;
    width: 90%;
}

.underContent .majorRight p {
    font-size: 15pt;
    margin-top: 0px;
    margin-bottom: 10px;
    width: 80%;
}

.underContent .major h1 {
    font-size: 25pt;
    margin-bottom: 10px;
}

.underContent .major p {
    font-size: 15pt;
    margin-top: 0px;
    margin-bottom: 10px;
}

.underContent .minor {
    display: flex;
    flex: 1;
    flex-grow: 1;
    flex-direction: column;

    align-items: flex-start;
}

.underContent .minor p {
    text-align: center;
    width: 100%;

    margin-top: -10px;
}

.underContent .minor img {
    width: 90%;
    max-width: 90%;
    margin: 5%;
}

.underContent .minor .colorImg {
    border-radius: 10px;
    border: 3px solid var(--border-color);
}

.underContent .minor a {
    cursor: pointer;
    align-items: left;
    position: relative;
}

.underContent .minor a:hover .colorImg {
    opacity: 0.2;
}

.underContent .minor a h3 {
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    color: black;
    width: 80%;
    height: 100%;
    margin: 0;
    margin-left: 10%;
    font-size: 15px;
    display: flex;
    position: absolute;
    opacity: 0;
}

.underContent .minor a:hover h3 {
    opacity: 1;
}

.footer {
    margin: 0;
    opacity: 0.2;
    position: absolute;
    bottom: 0;
}