.resume {
    height: 900px;
    overflow-x: hidden;
    overflow-y: hidden;
}

/* Group these things into single elements*/
.resume h1 {
    padding-left: 150px;
    display: block;
    padding-top: 0px;
    margin-bottom: 20px;
    text-shadow: 0.5px 0 #ffffff;
    font-size: 70px;
}
.resume h1 span {
    position: absolute;
    display: block;
    width: 270px;
    top:85px;
    left: 140px;
    height: 20px;
    z-index: -1;
    background-color:blue
}
.resume a {
    position: absolute;
    text-decoration: none;
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    right: 10%;
    top: 50px;
    width: 250px;
    overflow: hidden;
}
.resume a span {
    position: absolute;
    display: block;
    width: 200px;
    height: 2px;
    top: 70px;
    left: 20px;
    background-color: blue;;
}

.resume p {
    transition: 1s;
    margin-left: 35px;
}
.resume a:hover p {
    margin-left: 70px;
}

.resume-element {
    position: relative;
    display: block;
    height: 100px;
}
.resume-label {
    position: absolute;
    left: 10%;
    top: -40px;
}
.resume-label h2 {
    font-size: 40px;
}
.resume-line {
    display: block;
    width: 60%;
    padding-left: 30%;
}
.resume-line h2 {
    font-size: 35px;
}
.resume-line h3 {
    margin-top: -25px;
    font-size: 25px;
    color:rgb(167, 167, 167);
    font-weight:normal
}