/*
* Content underneath the cover
*/
:root {
  --sidebar-color:#040404;
  --sidebar-button-color:#3e3148;
}
body {
  background: #010015;    
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
body.dark-mode {
    background-color: #D7C0AE;
}
body.dark-mode + :root {
  --sidebar-button-color:#e3e8ec;

}
body.dark-mode label[for = "sidebar-button"] {
    background-color: #0a4863;
}
body.dark-mode .sidebar {
    background-color: #0a4863;
}
body.dark-mode .sidebar-line {
    background-color:#3198f9;
}
body.dark-mode #sidebar-button:checked + label {
  background-color:#3198f9;
}
body.dark-mode .sticky {
    color: #001b35;
}
  
/* Sticky text underneath the cover*/
.sticky {
    position: -webkit-sticky;
    position: sticky;
    /* To be below the cover */
    height: 100vh;
    bottom: 0;
    width: 100%;
    text-align: left;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
  }
  /* Div used to have main properly positioned */
  .filler 
  {
    /* 120 rather than 100 to give some leway */
    height: 130vh;
  }

  /* 
   *Dropdown sidebar 
   */

   #sidebar-button {
    display:none;
   }

   label[for = "sidebar-button"] {
    position: fixed;
    top: 20px;
    z-index: 2;
    left: 20px;
    height: 50px;
    width: 50px;
    border-radius: 15px;
    background-color: var(--sidebar-color);
    -webkit-transition: 0.2s;
    transition: 0.2s;
   }
  /* When the checkbox is checked, add a blue background */
  #sidebar-button:checked + label {
    background-color: var(--sidebar-button-color);
  }
  label[for = "sidebar-button"]:hover {
    position: fixed;
    top: 15px;
    z-index: 2;
    left: 15px;
    height: 64px;
    width: 64px;
    border-radius: 20px;
    cursor: pointer;
   }
   .sidebar-line {
     position:absolute;
     width: 36px;
     height: 5px;
     border-radius: 10px;
     background-color:var(--sidebar-button-color);
     -webkit-transition: 0.2s;
     transition: 0.2s;
     transform-origin: right center;
     left: 7px;
   }


   label[for = "sidebar-button"]:hover span {
    left: 8px;
    width: 48px;
    height: 6px;
   }

   /* Menu bar formatting*/
   label[for = "sidebar-button"] span:nth-child(1) { top: 11px;}
   label[for = "sidebar-button"] span:nth-child(2) { top: 23px;}
   label[for = "sidebar-button"] span:nth-child(3) { top: 35px;}
   label[for = "sidebar-button"]:hover span:nth-child(1) {top: 14px;}
   label[for = "sidebar-button"]:hover span:nth-child(2) {top: 29px;}
   label[for = "sidebar-button"]:hover span:nth-child(3) {top: 44px;}

   #sidebar-button:checked + label span {
    height: 0px;
  }

.sidebar {
  height: 100%;
  width: 150px;
  position: fixed;
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: -150px;
  background-color: var(--sidebar-color); /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* Pull out sidebar when pressed */
#sidebar-button:checked ~ .sidebar {
  left: 0%;
}

.sidebar a {
  padding-top: 10px;
  text-decoration: none;
  text-align: center;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidebar a:hover {
  color: #f1f1f1;
  cursor: pointer;
}
body.mobile-mode .filler {
  height: 100vh;
}
body.mobile-mode .sticky {
  position: absolute;
  top: 100%;
}
/* On screens that are less than 500px high, change orientation*/
@media screen and (max-height: 500px) {
  .filler {
      height: 500px;
  }
}