
/*
* Body style
*/
body {
    color:#ffffff;
}
html {
  scroll-behavior: smooth;
}
/*
* Cover page
*/

/* Covers a single screen worth of space*/
.mainCover {
    position: absolute;
    width: 100vw;
    max-width: 100%;
    height: 100%; 
    background-color:#170a18;
    left: 0;
    top: 0;
    z-index: 3;
    transition: background-color 0.3s;
}
/* Title text */
.mainTitle {
    position: absolute;
    font-size: 10px;
    margin: 0; padding: -200px;
    left: 50%;
    margin-left: -350px;
    top: 35%;
    transition: color 0.3s;
}
/* Scroll indicator */
.mainScroll {
    position: absolute;
    font-size: 10px;
    width: 100vw;
    max-width: 100%;
    text-align: center;
    opacity: 0.5;
    bottom: 3%;
    transition: color 0.3s;
}
/* Links within title */
.mainTitle a {
    text-decoration: none;
    color:#ffffff;
    transition: 0.3s;
}
.mainTitle a:hover {
    opacity: 0.7;
}

/* Main image */
.mainImage { 
    position: absolute;
    text-align: center;
    margin: 0;
    left: 60%;
    top: 30%;
}
.mainImage img {
    border-radius: 50%;
    width: 250px;
    transition: width
}

/* Top navigation bar */
.topnav {
    background-image: linear-gradient(#4d4d4d7d, #170a1800);
    width: 100%;
    height: 100px;
    white-space: nowrap;
  }
.topnav a {
    color: #606060;
    text-align: center;
    padding-left: 30px;
    text-decoration: none;
    font-size: 20px;
    transition: 0.2s;
}
.topnav a:hover {
    color: #ffffff;
}

/* Clickable icons */
.figure{
    display:inline-block;
    width:40px;
    height: 40px;
    border-radius: 20px;
    font-size: 25px;
    text-align: center;
    background-color: #474747;
    line-height: 1.7em;
    text-decoration: none;
}
.figure:hover {
    opacity: 0.7;
}
.figure img{
    position: relative;
   width: 20px;
    height: auto;
    top: -0px;
}

/*
*   Darkmode toggle
*/
body.dark-mode .mainCover {
    background-color:#C4DFDF;
    color:#001b35;
}
body.dark-mode .mainCover a {
    color:#001b35;
}
body.dark-mode .topnav a {
    color:#677474;
}
body.dark-mode .topnav a:hover {
    color:#000000;
}
/*
* Temporary slider code
*/
  /* The switch - the box around the slider */
  .switch {
    position: relative;
    display: inline-block;
    width: 17px;
    height: 17px;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .switch:hover {
    width: 30px;
  }

  .switch:hover + .mainCover{
    transition: 0.3s;
  }
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: -6px;
    left: -2px;
    right: 2px;
    bottom: 6px;
    background-color: #85858575;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .switch input:checked + .slider:before {
    background-color: #000000;
  }
  
  .switch input:checked + .slider {
    background-color: #8585852e;
  }
  .switch:hover input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 17px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  
/*
* Size checks
*/

/* On screens that are less than 500px high, change orientation*/
@media screen and (max-height: 500px) {
  .mainCover {
      height: 500px;
  }
  .filler {
      height: 500px;
  }
}

/* On screens that are less than 1000px wide, change orientation*/
@media screen and (max-width: 800px) {
  .mainTitle {
      width: 300px;
      left: 10%;
      margin-left: 0px;
  }
  .mainImage {
      top: 35%;
  }
  .mainImage img {
      width: 200px;
  }
  
}
  /* On screens that are less than 500px wide, make vertical*/
    @media screen and (max-width: 600px) {
    .mainTitle {
        white-space: nowrap;
        overflow: hidden;
        left: 0%;
        width: 100vw;
        max-width: 100%;
        top: 30%;
        margin-top: 150px;
        text-align: center;
        margin-left: 0px;
    }
    .mainTitle p {
        margin-left: 0px;
    }
    .mainImage {
        left: 0%;
        width: 100vw;
        max-width: 100%;
        top: 15%;
        text-align: center;
    }
    .mainImage img {
        width: 200px;
    }
    .topnav {
        white-space: nowrap;
        z-index: 10;
    }
    .topnav a {
      display: inline;
      overflow: hidden;
    }
    
  }

